.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .redes-sociais-footer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .redes-sociais-footer a {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .redes-sociais-footer a i {
    font-size: 35px;
  }
  
  .footer-section {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  .footer-section h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 28px;
  }
  
  .footer-section p {
    font-size: 19px;
    margin: 0;
  }
  .icone-contato {
    width: 30px; 
    height: auto; 
    margin-right: 5px;
    filter: brightness(0) invert(1); 
  }
  
  .signature {
    bottom: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 10px;
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    .footer-section {
      flex-basis: 100%;
    }
  }
  