.container {
  text-align: center;
}

.review {
  display: inline-block;
  width: 30%; 
  max-width: 300px; 
  height: auto; 
  margin: 10px ;
  margin-right: 60px;
  border: 2px solid #FFD700;
  border-radius: 8px;
  padding: 20px;
  background-color: #574747;
  overflow: hidden; 
}

.review h2 {
  color: #FFF;
  font-size: 18px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap; 
}

.review p {
  color: #FFF;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden; 
  text-overflow: ellipsis; 
}