nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: rgb(48, 57, 65);
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: auto; 
  margin-right: 10px;
}

.logo h3 {
 font-family:'Times New Roman', Times, serif;
  font-size: 25px;
 color: #fff;
}

.fab {
    font-size: 30px; 
    color: #fff;
}


.redes-sociais a {
  margin-right: 10px;
}


.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}


.list li {
  margin-right: 20px; 
}

.list li a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease; 
}

.list li a:hover {
  color: lightgray; 
}


.logo img {
  max-width: 100px; 
}


@media only screen and (max-width: 768px) {
  .list {
    display: none; 
  }


  .menu-button {
    display: block; 
  }
}
