.welcome-container {
  position: relative;
  text-align: center;
  padding: 1rem;
}

.welcome-text {
  position: absolute;
  top: 15%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 2; 
}

.welcome-text h1 {
  font-size: calc(12px + 4vw); 
}

.welcome-text h2 {
  font-size: calc(8px + 2vw); 
}

.happy-text {
  position: absolute;
  top: 80%; 
  left: 80%;
  margin-bottom: 0;
  transform: translate(-50%, 50%); 
  font-size: calc(6px + 1.5vw); 
  width: 90%;
  text-align: center;
  z-index: 1; 
}

.welcome-background {
  position: relative;
  background-color: #FFD700; 
}

.welcome-image {
  width: 100%;
  height: auto; 
  max-height: 78vh; 
  opacity: 0.9; 
}