.about-us {
   
    padding: 50px; 
    text-align: center; 
  background-color: #333;
    background-size: cover; 
    background-position: center; 
  }
  
  .about-us h2 {
    font-size: 32px; 
    margin-bottom: 20px; 
    color: #fff; 
  }
  
  .about-us p {
    font-size: 18px; 
    line-height: 1.6; 
    color: #fff; 
  }
  .container-paragrafos p::before {
    content: ">> ";
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    .sobre-nos h2 {
      font-size: 24px;
    }
  
    .container-paragrafos {
      padding: 0 20px;
    }
  
    .container-paragrafos p {
      font-size: 16px;
    }
  }