@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.welcome-container {
    position: relative;
    text-align: center;
    padding: 0; 
    margin-top: 0; 
    margin-bottom: 0; 
  }
  
.venda-slide span {
    display: inline-block;
    white-space: nowrap;
    padding: 0 10px; 
    font-size: 20px; 
}

.venda {
    overflow: hidden;
    padding: 10px 0;
    background-color: #FFD700;
    white-space: nowrap;
    position: relative;
}

.venda:before,
.venda:after {
    position: absolute;
    top: 0;
    width: 250px; 
    height: 100%;
    content: "";
    z-index: 2;
}

.venda:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #FFF);
}

.venda:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #FFF);
}

.venda:hover .venda-slide {
    animation-play-state: paused;
}

.venda-slide {
    /* display: inline-block; */
    animation: 20s slide infinite linear; 
}

.venda-slide span {
    display: inline-block;
    white-space: nowrap;
    padding: 0 25px; 
}
