.homePage .subtitle-services {
    margin-top: 30px;
    margin-left:40px;
    margin-right: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
    margin-bottom: 1rem; /* Margem inferior para separação dos serviços */
    text-align: center; /* Centraliza o texto horizontalmente */
    background-color:rgb(231, 216, 80);
  }
  