.homePage .subtitle-services {
    margin-top: 30px;
    margin-left:30px;
    margin-right: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #333; 
    margin-bottom: 1rem; 
    text-align: center; 
    background-color: rgba(240, 227, 42, 0.952);

  }
  